@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ }

<div class="d-flex">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>This is the admin home page.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a asp-controller="Volunteer" asp-action="Index" class="btn btn-primary">Manage Volunteers</a>
                <a asp-controller="Opportunity" asp-action="Index" class="btn btn-primary">Manage Opportunities</a>
                <a asp-controller="Home" asp-action="VolunteerOpportunityMatches" class="btn btn-primary">See Matches</a>
            </div>
        </div>
    </div>
</div>
