@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using AuthSystem.Models

@model IEnumerable<Opportunity>


<div class="container">
    <div class="row justify-content-center">
        <p>Manage Opportunities</p>
    </div>
    <div class="row">
        <div class="col">
            @if (Model == null)
            {
                <span>no items found</span>
            }
            else

         
            {
            <table class="table">
                <th>@Html.ActionLink("Title", "Opportunities", new { sortOrder = ViewBag.TitleSortParam })</th>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div>@item.Title</div>
                        </td>
                        <td>
                            <div>X</div>
                        </td>

                    </tr>
                }
            </table>
            }
        </div>
        <div class="col">
            <label for="select-filter">Change Opportunity Filter</label>
            <select id="select-filter">
                <option value=" " selected></option>
                <option value="recent" name="recent">Most Recent (60 Days)</option>
                <option value="recent" name="recent">By Center</option>
            </select>


            @* TODO: change action*@
            @* TODO: add css*@

            
            <div class="search-container input-group my-2">
                <form action="/action_page.php" class="form-inline">

                    <input type="text" class="form-control" placeholder="Search.." name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>



            <button>View Volunteer Opportunity Matches</button>
            <button>Edit Opportunity</button>
            <button>Add New Opportunity</button>
        </div>
    </div>
    <button><a href="@Url.Action("Create","OpportunityScaffolding")">Go to opportunities create page</a></button>
</div>





